{%- liquid
  assign image_1 = section.settings.image_1
  assign image_2 = section.settings.image_2
  assign image_modifier = 'single-image'

  if image_1 and image_2
    assign image_modifier = 'double-image'
  endif

  assign image_is_constrained = true

  if section.settings.aspect_ratio == 'natural'
    assign image_is_constrained = false
  endif

  if section.settings.show_margin
    assign margin = true
  endif
-%}

{% if section.settings.show_background_section %}  
  {% assign background_section = true %}    
{% endif %}

<div
  class="
    image-with-text
    image-with-text--image-{{ section.settings.image_position }}
    image-with-text--{{ image_modifier }}
    image-with-text--{{ section.settings.aspect_ratio }}
    image-with-text--image-{{ section.settings.image_width }}
    image-with-text--align-{{ section.settings.text_alignment }}
    section
    {% if background_section %}
      image-with-text--background
    {% endif %}
    {% if section.settings.remove_margin_bottom %}
      remove-margin-bottom
    {% endif %}
    {% if section.settings.remove_margin_top %}
      remove-margin-top
    {% endif %}
    {% if section.settings.section_contrast -%}
      section--contrast
    {%- endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="image-with-text"
  {% if background_section %}
  style="background-color: {{ section.settings.background_section }};"
  {%- endif %} 
>
  <div class="image-with-text__inner {% if margin %} section__inner {% endif %}">
    <div class="image-with-text__image-container">
      {%- if image_1 or image_2 -%}
        {%- if image_1 -%}
          <div class="image-with-text__image-container-inner image-with-text__image--primary {% if section.settings.use_shadow %}box-shadow{% endif %}">
            <div class="image-with-text__image-wrapper">
              {% render 'image' with
                image: image_1,
                wrapper_class: 'image-with-text__image',
                disable_style: image_is_constrained,
              %}
            </div>
          </div>
        {%- endif -%}

        {%- if image_2 -%}
          <div class="image-with-text__image-container-inner image-with-text__image--secondary {% if section.settings.use_shadow %}box-shadow{% endif %}">
            <div class="image-with-text__image-wrapper">
              {% render 'image' with
                image: image_2,
                wrapper_class: 'image-with-text__image',
                disable_style: image_is_constrained,
              %}
            </div>
          </div>
        {%- endif -%}
      {%- else -%}
        <div class="image-with-text__image-container-inner {% if section.settings.use_shadow %}box-shadow{% endif %}">
          <div class="image-with-text__image-wrapper">
            <div class="image-with-text__image placeholder-image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>

    <div class="image-with-text__text-container {% unless margin %} section__inner {% endunless %}">
      {% if section.settings.shadow_text %}<div class="shadow_text">{% endif %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            {%- unless block.settings.title == blank -%}
              <h2
                class="image-with-text__heading ff-heading fs-heading-2-base fs-heading-1-base-ns"
                style="--text-max-width: {{  block.settings.text_max_width }}rem;"
              >
                {{ block.settings.title | newline_to_br }}
              </h2>
            {%- endunless -%}

          {%- when 'subheading' -%}
            {%- unless block.settings.subheading == blank -%}
              <div
                class="image-with-text__subheading rte ff-body fs-body-base fs-body-large-ns"
                style="--text-max-width: {{  block.settings.text_max_width }}rem;">
                {{ block.settings.subheading }}
              </div>
              
             {% style %}
                @media (min-width: 960px){
                  .section[data-section-id="{{ section.id }}"] .image-with-text__subheading{
                    font-size: {{ block.settings.font_size }}px;
                  }
                }

                @media (max-width: 959px){
                  .section[data-section-id="{{ section.id }}"] .image-with-text__subheading{
                    font-size: {{ block.settings.font_size_mobile }}px;
                  }
                }
              {% endstyle %}
            {%- endunless -%}

          {%- when 'button' -%}
            {%- if block.settings.link != blank and block.settings.link_text != blank -%}
              <a href="{{ block.settings.link }}" class="image-with-text__button fs-body-base btn btn--primary btn--medium">
                {{ block.settings.link_text }}
              </a>
            {%- endif -%}

          {%- when 'numbers' -%}
          {%- if block.settings.number_1 != blank or
            block.settings.number_2 != blank or
            block.settings.number_3 != blank or
            block.settings.number_4 != blank -%}
          <div class="numbers--container">
            {%- if block.settings.number_1 != blank -%}
            <div class="numbers--content">
              <div class="number" style="background: {{ block.settings.background }}; color: {{ block.settings.color }}">1</div>
              <div class="number--text">{{ block.settings.number_1 }}</div>
            </div>
            {%- endif -%}

            {%- if block.settings.number_2 != blank -%}
            <div class="numbers--content">
              <div class="number" style="background: {{ block.settings.background }}; color: {{ block.settings.color }}">2</div>
              <div class="number--text">{{ block.settings.number_2 }}</div>
            </div>
            {%- endif -%}

            {%- if block.settings.number_3 != blank -%}
            <div class="numbers--content">
              <div class="number" style="background: {{ block.settings.background }}; color: {{ block.settings.color }}">3</div>
              <div class="number--text">{{ block.settings.number_3 }}</div>
            </div>
            {%- endif -%}

            {%- if block.settings.number_4 != blank -%}
            <div class="numbers--content">
              <div class="number" style="background: {{ block.settings.background }}; color: {{ block.settings.color }}">4</div>
              <div class="number--text">{{ block.settings.number_4 }}</div>
            </div>
            {%- endif -%}

          </div>
          {%- endif -%}

        {%- endcase -%}
      {%- endfor -%}
      {% if section.settings.shadow_text %}</div>{% endif %}
    </div>
  </div>
</div>

{% style %}
@media (min-width: 960px){
  .image-with-text[data-section-id="{{ section.id }}"] .image-with-text__image-container-inner.box-shadow{
    box-shadow: 15px 15px 0 {{ section.settings.shadow_color}};
  }

  .image-with-text[data-section-id="{{ section.id }}"] .shadow_text{
    box-shadow: 15px 15px 0 {{ section.settings.color_shadow }};
    background: {{ section.settings.background_text }};
    color: {{ section.settings.color_text}};
  }

  .section[data-section-id="{{ section.id }}"].remove-margin-bottom {
    margin-bottom: 0;
  }
  .section[data-section-id="{{ section.id }}"].remove-margin-top {
    margin-top: 0;
  }
}

@media (max-width: 959px){
  .image-with-text[data-section-id="{{ section.id }}"] .image-with-text__image-container-inner.box-shadow{
    box-shadow: 8px 8px 0 {{ section.settings.shadow_color}};
  }
}
{% endstyle %}

{% schema %}
  {
    "name": "t:sections.image_with_text.name",
    "tag": "section",
    "class": "shopify-section--stackable shopify-section--image-first",
    "settings": [
      {
        "id": "image_1",
        "type": "image_picker",
        "label": "t:sections.image_with_text.settings.image_1.label"
      },
      {
        "id": "image_2",
        "type": "image_picker",
        "label": "t:sections.image_with_text.settings.image_2.label"
      },
      {
        "type": "checkbox",
        "id": "use_shadow",
        "label": "Use shadow",
        "default": true
      },
      {
        "type": "color",
        "id": "shadow_color",
        "label": "Shadow color",
        "default": "#f9c94c"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "t:sections.image_with_text.settings.image_position.label",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image_with_text.settings.image_position.options__1"
          },
          {
            "value": "right",
            "label": "t:sections.image_with_text.settings.image_position.options__2"
          }
        ]
      },
      {
        "id": "image_width",
        "type": "select",
        "label": "t:sections.image_with_text.settings.image_width.label",
        "options": [
          { "label": "t:sections.image_with_text.settings.image_width.options__1", "value": "half" },
          { "label": "t:sections.image_with_text.settings.image_width.options__2", "value": "two-thirds" }
        ],
        "default": "half"
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "t:sections.image_with_text.settings.aspect_ratio.label",
        "options": [
          { "label": "t:sections.image_with_text.settings.aspect_ratio.options__1", "value": "natural" },
          { "label": "t:sections.image_with_text.settings.aspect_ratio.options__2", "value": "square" },
          { "label": "t:sections.image_with_text.settings.aspect_ratio.options__3", "value": "landscape" },
          { "label": "t:sections.image_with_text.settings.aspect_ratio.options__4", "value": "portrait" }
        ],
        "default": "natural"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.image_with_text.settings.text_alignment.label",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image_with_text.settings.text_alignment.options__1"
          },
          {
            "value": "center",
            "label": "t:sections.image_with_text.settings.text_alignment.options__2"
          }
        ]
      },
      {
        "type": "header",
        "content": "Customize text box"
      },
      {
        "type": "checkbox",
        "id": "shadow_text",
        "label": "Shadow text",
        "default": false
      },
      {
        "type": "color",
        "id": "background_text",
        "label": "Background",
        "default": "#F2693A"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "color_shadow",
        "label": "Shadow",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "checkbox",
        "id": "show_background_section",
        "label": "Show background section",
        "default": false
      },
      {
        "type": "color",
        "id": "background_section",
        "label": "Background section"
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "t:sections.image_with_text.settings.section_contrast.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_margin",
        "label": "Show margin sides",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "remove_margin_bottom",
        "label": "Remove margin bottom",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "remove_margin_top",
        "label": "Remove margin top",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.image_with_text.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "t:sections.image_with_text.blocks.heading.settings.title.label",
            "default": "Image with text"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "t:sections.image_with_text.blocks.heading.settings.text_max_width.label",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 32
          }
        ]
      },
      {
        "type": "subheading",
        "name": "t:sections.image_with_text.blocks.subheading.name",
        "limit": 1,
        "settings": [
          {
            "id": "subheading",
            "type": "richtext",
            "label": "t:sections.image_with_text.blocks.subheading.settings.subheading.label",
            "default": "<p>Use these sections to promote a particular feature with editorial photography.</p>"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "t:sections.image_with_text.blocks.subheading.settings.text_max_width.label",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 32
          },
          {
            "type": "range",
            "id": "font_size",
            "label": "Font size",
            "unit": "px",
            "min": 15,
            "max": 60,
            "step": 1,
            "default": 20
          },
          {
            "type": "range",
            "id": "font_size_mobile",
            "label": "Font size mobile",
            "unit": "px",
            "min": 15,
            "max": 60,
            "step": 1,
            "default": 20
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.image_with_text.blocks.button.name",
        "limit": 1,
        "settings": [
          {
            "id": "link",
            "type": "url",
            "label": "t:sections.image_with_text.blocks.button.settings.link.label"
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "t:sections.image_with_text.blocks.button.settings.link_text.label",
            "default": "Read more"
          }
        ]
      },
      {
        "type": "numbers",
        "name": "Numbers",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "number_1",
            "label": "Number 1",
            "default": "Slim Width"
          },
          {
            "type": "text",
            "id": "number_2",
            "label": "Number 2",
            "default": "Lifted Arch"
          },
          {
            "type": "text",
            "id": "number_3",
            "label": "Number 3",
            "default": "Shallow Lateral Side"
          },
          {
            "type": "text",
            "id": "number_4",
            "label": "Number 4",
            "default": "Narrow Heel"
          },
          {
            "type": "header",
            "content": "Color"
          },
          {
            "type": "color",
            "id": "background",
            "label": "Background number",
            "default": "#f2693b"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Text",
            "default": "#fff"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.image_with_text.presets.name",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "subheading"
          }
        ]
      }
    ]
  }
{% endschema %}