<div data-section-id="{{ section.id }}" data-section-type="meet-the-team" class="meet-the-team
      section">
  <div class="section__inner">
    {% render 'section-header',
        heading: section.settings.title,
        subheading: section.settings.subheading,
        url: featured_collection.url,
        link_text: section.settings.link_text,
        color: section.settings.color,
        classes: 'section-header--large section-header--center',
      %}

    {% if section.blocks.size > 0 %}      
      <div class="team--container">
        {%- for block in section.blocks -%}
          <div class="member--container">
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: 'master'}}" alt="{{ block.settings.image.alt }}">
            {% endif %}

            <div class="member--container-text" style="background: {{ section.settings.background }}; color: {{ section.settings.color_text }}">
            {% if block.settings.name != blank %}
              <p class="name">{{ block.settings.name }}</p>
            {% endif %}

            {% if block.settings.role != blank %}
              <p class="role">{{ block.settings.role }}</p>
            {% endif %}
          </div>
          </div>
        {%- endfor -%}
      </div>
    {% endif %}

  </div>

</div>

  {% schema %}
    {
      "name": "Meet the team",
      "tag": "section",
      "class": "shopify-section--stackable shopify-section--text-first",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:sections.featured_collection.settings.title.label",
          "default": "Featured collection"
        },
        {
          "id": "subheading",
          "type": "richtext",
          "label": "t:sections.featured_collection.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.featured_collection.settings.link_text.label"
        },
        {
          "type": "range",
          "id": "text_max_width",
          "label": "t:sections.featured_collection.settings.text_max_width.label",
          "min": 24,
          "max": 48,
          "step": 1,
          "default": 36
        },
        {
          "type": "color",
          "id": "color",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "Text box"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text"
        }
      ],
      "blocks": [
      {
        "type": "team_member",
        "name": "Team member",
        "settings": [
          {
              "type": "image_picker",
              "id": "image",
              "label": "image"
          },
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "id": "role",
            "type": "text",
            "label": "Role"
          }
        ]
      }
    ],
      "presets": [
        {
          "name": "Meet the team"
        }
      ]
    }
  {% endschema %}
  