
<div class="__pf_password">
    <a href="#" class="__pf_password-btn">{{ 'pagefly.password_page.password_link' | t }}</a>

    <div class="__pf_password-form">
        {% form "storefront_password" %}
        {{ form.errors | default_errors }}
        <p>{{ 'pagefly.password_page.login_form_message' | t }}</p>
        <div>
            <input type="password" name="password" placeholder="{{ 'pagefly.password_page.login_form_password_placeholder' | t }}">
            <input type="submit" value="{{ 'pagefly.password_page.login_form_submit' | t }}">
        </div>
        {% endform %}

        <span class="__pf_password-form--close"></span>
    </div>

    <style>
        .__pf_password-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            padding: 10px 20px;
            background: #000;
            border: 1px solid #333;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 2px;
            font-weight: bold;
            z-index: 100;
            color: #fff;
        }
        .__pf_password-btn:hover {
            color: #fff !important;
            text-decoration: none !important;
            background: #222;
        }
        .__pf_password-form {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .8);
            z-index: 10;
            top: 0;
        }
        .__pf_password-form form {
            max-width: 100%;
            background: #fff;
            padding: 30px 20px;
            border-radius: 2px;
            width: 480px;
            text-align: center;
        }
        .__pf_password-form form > div {
            position: relative;
        }
        .__pf_password-form form p {
            color: #000;
            font-size: 18px;
            margin: 0 0 20px;
        }
        .__pf_password-form form label {
            margin-bottom: 10px;
        }
        .__pf_password-form input[type="password"] {
            border: 1px solid #bfbfbf;
            outline: 0;
            border-radius: 2px;
            height: 50px;
            padding: 0 20px;
            line-height: 50px;
            width: 100%;
        }
        .__pf_password-form input[type="submit"] {
            position: absolute;
            height: 42px;
            min-height: initial;
            line-height: 1;
            padding: 0 20px;
            background: #000;
            color: #fff;
            top: 4px;
            right: 4px;
            border-radius: 2px;
            -webkit-appearance: none;
            outline: 0;
            border: 0;
            width: fit-content;
        }
        .__pf_password-form input[type="submit"]:hover {
            opacity: .8;
        }
        .__pf_password-form--close {
            width: 50px;
            height: 50px;
            cursor: pointer;
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .__pf_password-form--close:before,
        .__pf_password-form--close:after {
            content: "";
            width: 30px;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 24px;
            left: 11px;
        }
        .__pf_password-form--close:before {
            transform: rotate(45deg);
        }
        .__pf_password-form--close:after {
            transform: rotate(-45deg);
        }
    </style>

    <script>
        window.addEventListener("load", function() {
            document.querySelector(".__pf_password-btn").addEventListener("click", function() {
                document.querySelector(".__pf_password-btn").style.display = "none";
                document.querySelector(".__pf_password-form").style.display = "flex";
            });
            document.querySelector(".__pf_password-form--close").addEventListener("click", function() {
                document.querySelector(".__pf_password-form").style.display = "none";
                document.querySelector(".__pf_password-btn").style.display = "initial";
            });
            if ( document.querySelectorAll(".errors").length ) {
                document.querySelector(".__pf_password-btn").click();
            }
        });
    </script>
</div>{% render 'pagefly-settings' %}<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,500|Playfair+Display:400,700|Abel:400|Abril+Fatface:400|Actor:400|Alfa+Slab+One:400|Alegreya+SC:400|Anton:400|Homenaje:400|Michroma:400|Monoton:400|Advent+Pro:400|Manuale:400|Carrois+Gothic:400|Jockey+One:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.6/css/main-style.css?t=20210210180202"> <link rel="stylesheet" href="{{ 'pagefly.5554b256.css' | asset_url }}" media="print" onload="this.media='all'">
		 <style>@font-face {     font-family: 'Neue Aachen Pro Book';     src: url('https://cdn.shopify.com/s/files/1/0441/9600/4004/files/NeueAachenPro-Book.woff2?v=1611089450.woff2') format('woff2'),         url('https://cdn.shopify.com/s/files/1/0441/9600/4004/files/NeueAachenPro-Book.woff?v=1611089445.woff') format('woff');     font-weight: normal;     font-style: normal;     font-display: swap; } .__pf  *:not(.fa) {     font-family: 'Neue Aachen Pro Book'; }</style> <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-cdc5778d"><div data-pf-type="Layout" class="pf-2f63cdc5"><div data-container="true" class="sc-pZopv bjKdkd pf-73d42f63" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-ed8673d4 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--5 pf-c-lg--5"><div class="sc-pkUyL fTyjzF pf-24990b39" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-ae00801f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cc44ae00"><span style="color: rgb(255, 255, 255);">SNEAKERS DROPPING SOON</span></span></h3><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-345bfcf9"><div class="sc-prrfo bQJNGd pf-801f345b pf-countdown__outter2" data-translation="{&quot;countdownType&quot;:&quot;specific&quot;,&quot;startTime&quot;:&quot;2021-02-10T23:00:00.000Z&quot;,&quot;repeat&quot;:&quot;never&quot;,&quot;endType&quot;:&quot;period&quot;,&quot;endTime&quot;:&quot;2021-02-10T23:24:03.176Z&quot;,&quot;endPeriod&quot;:6996264,&quot;timeData&quot;:{&quot;w&quot;:{&quot;on&quot;:false,&quot;text&quot;:&quot;Weeks&quot;},&quot;d&quot;:{&quot;on&quot;:true,&quot;text&quot;:&quot;Days&quot;},&quot;h&quot;:{&quot;on&quot;:true,&quot;text&quot;:&quot;Hours&quot;},&quot;m&quot;:{&quot;on&quot;:true,&quot;text&quot;:&quot;Mins&quot;},&quot;s&quot;:{&quot;on&quot;:true,&quot;text&quot;:&quot;Secs&quot;}},&quot;version&quot;:&quot;0b18c169&quot;,&quot;hideIfInactive&quot;:false,&quot;redirectUrl&quot;:{&quot;on&quot;:false,&quot;url&quot;:&quot;&quot;},&quot;fullWidth&quot;:false}" data-pf-type="CountDown2"><div class="pf-countdown__inner"><div><span class="pf-countdown__days">80</span><label>Days</label></div><div class="pf-countdown__colon"><span>:</span></div><div><span class="pf-countdown__hours">22</span><label>Hours</label></div><div class="pf-countdown__colon"><span>:</span></div><div><span class="pf-countdown__mins">59</span><label>Mins</label></div><div class="pf-countdown__colon"><span>:</span></div><div><span class="pf-countdown__secs">15</span><label>Secs</label></div></div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0441/9600/4004/t/4/assets/pf-9e5ec42b--fullsizeoutput796d-Edited-Edited.jpg?v=1611030496 1200w, https://cdn.shopify.com/s/files/1/0441/9600/4004/t/4/assets/pf-9e5ec42b--fullsizeoutput796d-Edited-Edited_800x491.jpg?v=1611030496&resized 800w, https://cdn.shopify.com/s/files/1/0441/9600/4004/t/4/assets/pf-9e5ec42b--fullsizeoutput796d-Edited-Edited_400x246.jpg?v=1611030496&resized 400w" alt="Basketball sneakers exclusively for female ballers" title="Women's Basketball Sneakers" class="sc-qZtVr dLIPjF pf-fcf92499" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--7 pf-c-lg--7"><div class="sc-pkUyL fTyjzF pf-3c0b525e" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-aa91a24b"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-94a4aa91"><span style="color: rgb(0, 0, 0);">WE ARE MOOLAH KICKS</span><br></span></h3><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-d801bc6d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0d44d801">WE ARE THE FIRST WOMEN'S BASKETBALL BRAND. &nbsp;</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-14390ee2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-64af1439"><span style="color: rgb(255, 255, 255);">We are fighting for gender equality and making sneakers tailored specifically for female ballers.&nbsp;</span></span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-724be8f4"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b55f724b"><span style="color: rgb(155, 155, 155); background-color: rgba(155, 155, 155, 0);">Reserve your pair today. Enter your email below.&nbsp;</span></span></h3><div data-pf-type="Form2" class="sc-qQAox csiTZj pf-cdd2341b">{% form 'customer' %}<div class="sc-qPjXN eYzxUD pf-94accdd2 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:8px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-f9de94ac" data-pf-type="Column"><div data-pf-type="Form2.Field" class="sc-qQKBW etnoJa pf-d3799871"><input name="contact[email]" type="email" placeholder="Email Address" required="" data-drag-disable="true" class="sc-pJhSf gdVGCp" value=""></div><button type="submit" data-pf-type="Form2.Button" class="sc-pBlUC jBiRe pf-4e78f9de">RESERVE NOW</button></div></div></div>{% for field in form.errors %}{% if field == 'form' %}<p class="sc-qYVps kEvrqM">Sorry, the submission can not be sent! Please try again later!</p>{{ form.errors.messages[field] }}{% endif %}{% if form.errors.messages[field] contains "can't be blank." %}<p class="sc-qYVps kEvrqM">Field can't be blank</p>{% else %}<p class="sc-qYVps kEvrqM">Sorry, the submission can not be sent! Please try again later!</p>{% endif %}{% endfor %}{% if form.posted_successfully? %}<p class="sc-qYVps hYCNmc">Thank you for your submissions!</p>{% endif %}{% endform %}</div><a href="https://www.instagram.com/moolahkicks/" target="_blank" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-957d6b6b"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8282957d">Follow us on IG</span></a></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.6","shopDomain":"moolah-kicks.myshopify.com","elementData":{},"pageTitle":"attempt3","pageType":"password","pageId":"5554b256-0731-48ed-a1c4-fcd0b895e61b","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-02-10T23:25:09.034Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.6/core/helper.js?t=20210210180202" defer></script>